{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
	News
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
   <!-- Используем переданную из представления переменную time_now
   и применяем к ней фильтр date. По назначению этот фильтр очень похож
   на метод strftime у объекта datetime в Python — вывод времени
   в указанном формате. -->
   <h3>{{ time_now|date:'d M Y' }}</h3>
   <h3> Количество постов: {{news|length}} </h3>
   <hr>
   {% if news %}
       <table>
           <tr>
			   <td><b>Дата</b></td>
               <td><b>Название</b></td>
               <td><b>Описание</b></td>
               <td><b>Категория</b></td>
           </tr>

           {% for post in news %}
           <tr>
			   <td><i>{{ post.date }}</i></td>
               <td><i>{{ post.name|truncatewords:10|censor }}</i></td>
               <td>{{ post.description|truncatechars:20|censor }}</td>
               <td><b>{{ post.category.name|censor }}</b></td>
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}
